---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro"
import Chat from "../components/Help-manamengt.astro"
import '@fontsource/poppins';
---

<link rel="stylesheet" href="style.css">

<Layout title="SCORE services">

	<style>
		main{
				font-family: 'Poppins', sans-serif;	
		}
	</style>
	
	<main class="bg-white">
		<Nav/>
		<Chat/>
		<Main/>
		<Footer/>
	</main>
</Layout>


