---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro"
import Chat from "../components/Help-manamengt.astro"
import '@fontsource/poppins';
---


<Layout title="SCORE services">


	<body>

	<div id="content" class="content hidden" >
	
	<main class="bg-white">
		<Nav/>
		<Chat/>
		<Main/>
		<Footer/>
	</main>

	</div>

	</body>
</Layout>


