---
import Layout from '../layouts/Layout.astro';
import '@fontsource/poppins';
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---

<style>

    h1{
        color: #606060;
        font-weight: 700;
        font-size: 16px;
    }

    p{
        font-size: 14px;
        color: #606060;
    }

    h2{
        font-size: 16px;
        font-weight: 700;
        color: #606060;
    }

    li{
        font-size: 14px;
        list-style: none;
        color: #606060;
    }
</style>

<Layout title="Terminos y condiciones">

<Nav></Nav>
<div class="pt-32 pl-32 pr-32 mb-36">
    <h1> Política de Licencia de Uso de Imágenes </h1><br>

        <p>Fecha de entrada en vigor: [Fecha]</p><br>
        <p>En SCORE, utilizamos imágenes y recursos gráficos de bancos de imagenes gratuitas para mejorar la experiencia visual de nuestros usuarios. Esta Política de Licencia describe los términos y condiciones bajo los cuales utilizamos estos recursos, de acuerdo con las directrices de Freepik.</p><br>
        
        <h2>1. Acerca de Freepik</h2><br>

        <p>Freepik es una plataforma que proporciona recursos gráficos gratuitos y de pago, incluyendo imágenes, vectores, ilustraciones y fotografías. Los recursos de Freepik son creados por diseñadores profesionales y están disponibles para uso personal y comercial bajo ciertas condiciones.</p><br>
        
        <h2>2. Uso de Imágenes de Freepik</h2><br>

        <p>Las imágenes y otros recursos gráficos utilizados en nuestro sitio web de Freepik están sujetos a las siguientes condiciones de uso:</p><br>
        
           <li>Atribución: Para los recursos gratuitos, proporcionamos la atribución correspondiente a Freepik como autor de los recursos, según lo requerido por las condiciones de uso de Freepik. La atribución 
        Ejemplo de atribución: "Imagen prporcionada por Freepik" el cual le proporcionara de manera directa la tribucion desde su web y politicas al autor de la correspondiente imagen.</li>
           <li>Licencia Premium: Algunos recursos pueden ser utilizados bajo una licencia premium adquirida a través de Freepik. En estos casos, no se requiere atribución, pero seguimos cumpliendo con las condiciones de uso establecidas por Freepik.</li><br>
        
        <h2>3. Limitaciones de Uso</h2><br>

           <li>Modificaciones: Las imágenes y recursos gráficos pueden ser modificados para ajustarse a las necesidades de nuestro sitio web, siempre y cuando dichas modificaciones no infrinjan los derechos de autor y se respeten las condiciones de uso de Freepik.</li><br>
           <li>Distribución: No distribuimos ni revendemos las imágenes o recursos gráficos de Freepik como archivos independientes. Los recursos son utilizados exclusivamente como parte del contenido de nuestro sitio web.</li><br>
        
        <h2>4. Enlaces y Descargas</h2><br>

        <p>Los recursos de Freepik utilizados en nuestro sitio web pueden estar disponibles para descarga directa desde la plataforma de Freepik. Proporcionamos enlaces a Freepik para que los usuarios puedan acceder a los recursos originales y a más información sobre las condiciones de uso.</p><br>
        
        
        <h2>5. Contacto y Más Información</h2><br>

        <p>Para obtener más información sobre las condiciones de uso de Freepik, visite sitio web de Freepik o contáctenos en:</p><br>

        <p>[Nombre de la Empresa]<br>
            [Dirección Física]<br>
            [Correo Electrónico de Contacto]<br>
            [Teléfono de Contacto]</p><br>
        
    
        </p>
</div>

<Footer></Footer>

</Layout>
