---
import '@fontsource/poppins';
import MenuDespligable from '../components/MenuDespligable.astro'
---

<style>
    main{
            font-family: 'Poppins', sans-serif;	
    };

    body{
            font-family: 'Poppins', sans-serif;	
    };
    
</style>

<div>
    <MenuDespligable></MenuDespligable>

</div>