---
import '@fontsource/poppins';
---

<style>
  main{
          font-family: 'Poppins', sans-serif;	
  };

  body{
          font-family: 'Poppins', sans-serif;	
  };
  
</style>

<style>
  .text-card ,.pharagrph-container-shadow{
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); 
    }
    
</style>



<div>
  <div class=" w-[270px] overflow-hidden bg-center rounded-2xl">
      <img
      class="rounded-2xl"
      src="/src/assets/img/spad_line.jpg"
      alt="Spad Line"/>

      <div class="relative top-[-80px] flex justify-between items-center p-[10px]">
              <div class="text-card">
                  <h1 class=" drop-shadow-lg font-bold text-white" >Spad Line</h1>
                  <p class="text-xs  text-white">Reconocimiento de gestos</p>
              </div>

              <img class="w-[65px]" src="/src/assets/img/SPAD Line logo.svg">
      </div>
      
      <a class=" cursor-pointer absolute bottom-0 left-0 right-0 top-0 w-[270px] h-[243px] rounded-2xl overflow-hidden bg-gradient-to-tl from-[#0D3150] to-[#1D70B6] opacity-0 transition duration-300 ease-in-out hover:opacity-80" href="/Spad_IoT.astro">
          <p class="pharagrph-container-shadow text-[13px] text-white p-[20px] text-center">El reconocimiento facial es una tecnología que se puede implementar, para el  
            análisis, de segmentación,
            emociones, tiempo de atención, ubicación y contexto para métricas enfocado a  publicidad</p>
      </a>

  </div>
</div>

<div>
  <div class=" w-[270px] overflow-hidden bg-center rounded-2xl">
      <img
      class="rounded-2xl"
      src="/src/assets/img/spad_line.jpg"
      alt="Spad Line"/>

      <div class="relative top-[-80px] flex justify-between items-center p-[10px]">
              <div class="text-card">
                  <h1 class=" drop-shadow-lg font-bold text-white" >Spad Line</h1>
                  <p class="text-xs  text-white">Reconocimiento de gestos</p>
              </div>

              <img class="w-[65px]" src="/src/assets/img/SPAD Line logo.svg">
      </div>
      
      <a class=" cursor-pointer absolute bottom-0 left-0 right-0 top-0 w-[270px] h-[243px] rounded-2xl overflow-hidden bg-gradient-to-tl from-[#0D3150] to-[#1D70B6] opacity-0 transition duration-300 ease-in-out hover:opacity-80" href="/Spad_IoT.astro">
          <p class="pharagrph-container-shadow text-[13px] text-white p-[20px] text-center">El reconocimiento facial es una tecnología que se puede implementar, para el  
            análisis, de segmentación,
            emociones, tiempo de atención, ubicación y contexto para métricas enfocado a  publicidad</p>
      </a>

  </div>
</div>
