---

---

<style>
.infinity {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.infinity .move {
  display: flex;
  width: calc(250px * 14);
  animation: animacion 50s linear infinite;
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.infinity .box {
  height: 100px;
  width: 250px;
}

img{
  width: 150px;
}
</style>

<div class="infinity flex align-middle justify-items-center justify-center mt-16">
    <div class="move">
      
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box"> <!--Slide-->
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      
      <!-- 2da vuelta -->
      
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>

      <!-- 3da vuelta -->
      
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      <div class="box">
        <img src="/innerconsulting-score.svg" alt="">
      </div>
      <div class="box">
        <img src="/3sg_logo.png" alt="">
      </div>
      
      
    </div>
  </div>