---

---


<div class="pt-[150px] flex z-30">

    <style>
        .clip-path{
            clip-path: polygon(0 0, 93% 0, 73% 100%, 0% 100%);
        }
    </style>

    <div class="bg-[#1D70B6] clip-path w-2/4 text-swhite-color pt-5 pb-5 mb-20 ">


        <div class="flex flex-col gap-5 object-center items-center">
            <h1 class="text-xl font-bold">Contáctanos</h1>
            <div class="flex gap-4">
            <span class="icon-ubication text-xl text-swhite-color"></span>
            <h3 class="text-sm">Calle 119a No. 70g – 91 Bogotá DC</h3>
            </div>

            <div class="mapouter"><div class="gmap_canvas rounded-lg"><iframe width="260" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Calle+119a+No.+70g+%E2%80%93+91+Bogot%C3%A1+DC&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://textcaseconvert.com"></a><br><a href="https://www.tabclocktab.com"></a><br><style>.mapouter{position: relative;text-align: right;height: 200px;width: 260px;}</style><a href="https://www.ongooglemaps.com">google maps on website</a><style>.gmap_canvas{overflow: hidden;background: none !important;height: 200px;width: 260px;}</style></div></div>
            
            <div class="flex gap-4">
                <span class="icon-mail text-sm"></span>
                <h3 class="text-sm">contacto@innerconsulting.com</h3>
            </div>

            <div class="flex gap-4">
                <span class="icon-phone text-xl"></span>
                <h3 class="text-sm">PBX: (57 + 1) 475 75 55</h3>
            </div>

        </div>

    </div>

    <div class="flex flex-col gap-9">

        <h1 class="text-xl font-bold text-text-color">Tu información de contacto</h1>

        <div class="flex gap-5">
            <div class="relative h-11 min-w-[300px] w-2/4">
                <input placeholder="Example: email@score.co"
                class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                <label
                class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                Correo electronico*
                </label>
            </div>

            <div class="relative h-11 min-w-[300px] w-2/4">
                <input placeholder="Example: José Hernandez"
                class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
                <label
                class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                Nombre*
                </label>
            </div>
        </div>

        <div class="relative h-11 min-w-[600px] w-2/4">
            <input placeholder="Example: José Hernandez"
            class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
            <label
            class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
            Dirección
            </label>
        </div>

        <div class="relative h-[200px] min-w-[600px] w-2/4">
            <input placeholder="Ingresa tu mensaje aquí"
            class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50" />
            <label
            class="after:content[' '] pointer-events-none absolute left-0  -top-2.5 flex h-full w-full select-none !overflow-visible truncate text-sm font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500 peer-focus:text-sm peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
            Mensaje
            </label>
        </div>

        <button class="px-5 py-2 bg-[#1D70B6] rounded-3xl  font-bold text-white text-sm hover:bg-[#263261]">Te contactamos</button>

    </div>
</div>
