---
---



<footer class="relative  overflow-hidden h-300px ">
    
        
<div class="wave-container"></div>

<div id="footer-div" class="w-full bg-sblue-general p-9 text-swhite-color mt-[-10px]">

  <div>
  <div id="main-footer" class="flex  justify-between">

  <div id="footer-input" class="text-swhite-color max-w-md flex flex-col gap-3" >
      <h2 class=" text-base font-bold">¿Necesitas  asesoría personalizada?</h2>
      <p class=" text-xs">¿Tienes preguntas o necesitas asistencia específica? Déjanos tu correo y nos pondremos en contacto contigo lo antes posible. Tu satisfacción es nuestra prioridad.</p>
      <div class="flex gap-3">
        <input type="text" placeholder="Correo electrónico" class=" p-2  bg-sblue-general border-2 border-gray-300 rounded-md  focus:outline-none focus:ring focus:border-swhite-color text-xs">
        <button class="px-5 py-2 bg-sblue-general text-swhite-color rounded-3xl  font-bold text-xs hover:bg-sblue-dark outline outline-2 hover:text-swhite-color focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100">Recibir información</button>
      </div>
    </div>

    <div id="footer-log" class="text-swhite-color flex flex-col gap-3 justify-items-center justify-center">
      <img class="w-[130px]" src="score-logo-white.svg" alt="">
      <p class=" text-xs flex gap-3 items-center"><span class="icon-ubication text-xl"></span>Calle 119a No. 70g – 91</p>
      <p class=" text-xs flex gap-3 items-center"> <span class="icon-mail text-sm"></span> info@innerconsulting.com</p>
      <p class=" text-xs flex gap-3 items-center"> <span class="icon-phone text-xl"></span> PBX: (57 + 1) 475 75 55</p>
    </div>
  </div>

  </div>

  <div class="flex w-full items-center rounded-full">
    <div class="flex-1 border-b border-gray-300"></div>
    <span class="text-xs  leading-8 px-8 py-3">Documentación</span>
    <div class="flex-1 border-b border-gray-300"></div>
    </div>

  <div class="flex justify-between text-xs">
    <ul id="list-tags"  class="flex gap-9">
      <a href="/TermsAndConditions">Términos y condiciones</a>
      <a href="/PrivacyPolicy">Política de privacidad</a>
      <a href="/Licency">Licencias</a>
      <a href="/contact">Contacto</a>
    </ul>
    
  
    <p class="flex gap-2 items-center"><span class="icon-copyright"></span>2024 SCORE</p>

  </div>
  </div>
</div>
    

</footer>

