---

import '@fontsource/poppins';
import Modal from '../components/Modal.astro'
import Slider from '../components/Slider.astro'

---

<link rel="stylesheet" href="/src/assets/icons/style.css">

<style>

        #bg-area{
            background-image: url("/src/assets/img/background-section.png");
            background-size : cover;
            background-repeat : no-repeat;
            background-position: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @media screen and (max-width:970px){
            #Cards-respons{
                grid-template-columns: 1fr 1fr;
            }

            #industriy-container{
                display: flex;
                flex-direction: column;
            }

            #industriy-container > #text-container{
                order: 2;

            }

            #industriy-container > img-industria{
                order: 1;
            }

            #info-areas{
                flex-direction: column;
                gap: 1rem;
            }

            h1{
        font-size: 18px;
            }

            h2{
        font-size: 18px;
            }

            h3{
        font-size: 18px;
            }

    @media screen and (max-width:500px){
        #Cards-respons{
                grid-template-columns: 1fr ;
            }

        #grid-services{
            grid-template-columns: 1fr;
        }
    }

    strong{
        font-size: 18px;
    }

    p{
      font-size: 12px;
    }

        }

        #banner-principal{
            background-image: url("/src/assets/img/render-score.png");
            height: 350px;
            background-size : cover;
            background-repeat : no-repeat;
            background-position: center;
        }

        @media screen and (min-width:970px){
        #banner-principal{
            background-size : contain;
            background-position: right;
            height: 400px;
        }
        }

        
    @media screen and (max-width:572px){
        #order-banner-principal{
            flex-direction: column;
        }
        #order-banner-principal > #text-banerprincipal{
            order: 2;
        }

        #text-info{
            padding-left: 0px;
        }
        #cards-scocoreindustry{
            width: 100vw;
        }
        #cards-scocoreindustry{
                flex-direction: column;
            }
        #banner-principal{
            height: 200px;
        }
    }

</style>

<!-- Banner principal -->

<main id="order-banner-principal" class="pt-20 flex gap-9 justify-center items-center justify-items-center content-center">

    <div id="text-banerprincipal" class="pl-14 flex flex-col gap-9 " >
    <h1 class="text-2xl font-extrabold text-[#606060]">
        Datos en <strong class="text-[#1D70B6] font-extrabold">tiempo real</strong> para tomar<br> <strong class="text-2xl text-[#1D70B6] font-extrabold">decisiones inteligentes</strong>
    </h1>
    <p class="text-base text-[#606060] ">
        SCORE te proporciona información precisa sobre 
        el entorno para optimizar tus operaciones, 

        Te brindamos un portafolio de servicios completo y 
        dinámico que se adapta a tus necesidades

        <Modal></Modal>
    </p>
    </div>

    <div id="img-bannerprincipal" class="h-full w-full">
        <div id="banner-principal">
            
        </div>
    </div> 
    
</main>

<body>

    <!-- Sección de procesos y gestión -->

    <div>

            <h1 class="text-2xl font-extrabold text-[#606060] text-center pt-[40px] ">
                SCORE facilita <strong class="text-[#1D70B6] font-extrabold">procesos</strong> y la <strong class="text-2xl text-[#1D70B6] font-extrabold">gestión de datos</strong>
            </h1>

            <div id="Cards-respons" class="grid grid-cols-3 gap-3 p-[20px] items-center justify-center justify-items-center content-center">

                <!-- Gestión de procesos en tiempo real -->

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-dashboard text-5xl  text-[#1D70B6]" ></span>
                        <h2 class="font-bold text-center text-[#606060] text-base">Gestión de procesos en tiempo real</h2>
                    </div>

                    <p class="text-center pt-8 text-xs text-[#606060] ">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

                <!-- Fácil visualización en formato gráfico -->

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-graphics text-5xl  text-[#1D70B6]" ></span>
                        <h2 class="font-bold text-center text-[#606060]">Fácil visualización en formato gráfico</h2>
                    </div>

                    <p class="text-center pt-8 text-[#606060] text-xs">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

                <!-- Dashboard modular y adaptativo -->

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-modular text-5xl  text-[#1D70B6]" ></span>
                        <h2 class="font-bold text-center text-[#606060] ">Dashboard modular y adaptativo</h2>
                    </div>

                    <p class="text-center pt-8 text-[#606060] text-xs">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

                <!-- Gestionar multiplicación desde una misma plataforma -->

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-enbemed-dashboard text-5xl  text-[#1D70B6]" ></span>
                        <h2 class="font-bold text-center text-[#606060] ">Multiplicación en una sola plataforma</h2>
                    </div>

                    <p class="text-center pt-8 text-[#606060] text-xs">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

                <!-- Apoyo en tareas complejas asistido con IA -->

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-IA-asistend text-5xl  text-sky-700" ></span>
                        <h2 class="font-bold text-center text-[#606060] ">Apoyo en tareas complejas asistido con IA</h2>
                    </div>

                    <p class="text-center pt-8 text-neutral-500 text-xs">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

                <div class="max-w-80 shadow-2xl p-[25px] mb-4 mt-7 rounded-3xl border-b-4 border-[#1D70B6]">
                    <div class="flex gap-9">
                        <span class="icon-IA-asistend text-5xl  text-sky-700" ></span>
                        <h2 class="font-bold text-center text-[#606060] ">Apoyo en tareas complejas asistido con IA</h2>
                    </div>

                    <p class="text-center pt-8 text-neutral-500 text-xs">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>

                </div>

            </div>
    
    </div>

    <!-- slider imagenes -->

   <Slider></Slider>

    <!-- dashboard -->

    <div class="flex flex-col justify-center justify-items-center content-center text-center pt-[60px]">

        <h3 class="text-2xl font-extrabold text-neutral-500">Gestión de información en <strong class="text-sky-700 font-extrabold">tiempo real</strong> gestionados desde nuestra <strong class="text-sky-700 font-extrabold">herramienta Dashboard</strong> </h3>

        <div id="industriy-container" class="flex p-[50px] items-center justify-center justify-items-center content-center">

            <div id="text-container" class="text-xs  text-[#606060]">

                <p class="pb-[40px] font-semibold text-sm">proporciona información clara y dinámica presentado datos desde elementos gráficos interactivos, tablas, barras, etc. </p>

                <div id="grid-services" class="grid grid-cols-2 gap-[20px] text-center items-center justify-center justify-items-center">
                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-real-time text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center ">
                        <span class="icon-manitence text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-enlaced text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-graphic-3d text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>


                </div>

                <p class="pb-[40px] font-semibold pt-[40px] text-sm">proporciona información clara y dinámica presentado datos desde elementos gráficos interactivos, tablas, barras, etc. </p>

                <div id="grid-services" class="grid grid-cols-2 gap-[30px] text-center items-center justify-center justify-items-center">
                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-real-time text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left"> Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center ">
                        <span class="icon-manitence text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-enlaced text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>

                    <div class="flex gap-[10px] max-w-xs items-center">
                        <span class="icon-graphic-3d text-4xl bg-[#DDEAF4] p-[8px] rounded-full text-sky-700"></span>
                        <p class="text-left">Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas</p>
                    </div>


                </div>
            </div>

            <div class="img-industria max-w-lg">
                <img src="/src/assets/img/CTA-2.png" alt="">
            </div>

        </div>
    </div>

    <!-- servicios en la industria -->

    <div id="info-areas" class="flex items-center justify-between"> 
        <div id="text-info" class="max-w-lg flex flex-col gap-[30px] pl-[60px] items-center justify-center justify-items-center content-center">
            <h2 class="text-2xl font-extrabold text-[#606060] text-center">
                Áreas <strong class="text-sky-700 font-extrabold">estratégicas</strong> <br> en la industria
            </h2>
            <p class="text-xs  text-[#606060] text-center">
                Accede a datos actualizados al instante. Observa<br> tendencias, patrones y cambios en tiempo real para tomar <br> decisiones informadas
            </p>
            <Modal></Modal>
        </div>

       <div id="bg-area">

            <div id="cards-scocoreindustry" class="flex gap-3 justify-center items-center">
                <div class="bg-gradient-to-r from-[#1D70B6] to-[#0095DA] w-[270px] p-[10px] rounded-2xl  shadow-2xl h-full">
                    <img src="/src/assets/img/apss.png">
                </div>

                <div class="flex flex-col gap-7">
            
                <div class="w-[250px] flex flex-col gap-3 bg-white p-4 rounded-3xl shadow-2xl">
                        <div class="flex gap-3 items-center justify-center justify-items-center content-center">
                            <h2 class="font-bold text-center text-[#606060]">Fácil visualización en formato gráfico</h2>
                            <span class="icon-real-time text-xl p-2 bg-[#1D70B6] rounded-full text-white"></span>
                        </div>
    
                        <p class="text-xs  text-[#606060] ">
                            Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas
                        </p>
                </div>

                <div class="w-[250px] flex flex-col gap-3 bg-white p-4 rounded-3xl shadow-2xl">
                    <div class="flex gap-3 items-center justify-center justify-items-center content-center">
                        <h2 class="font-bold text-center text-[#606060]">Fácil visualización en formato gráfico</h2>
                        <span class="icon-real-time text-xl p-2 bg-[#1D70B6] rounded-full text-white"></span>
                    </div>

                    <p class="text-xs  text-[#606060] ">
                        Accede a datos actualizados al instante. Observa tendencias, patrones y cambios en tiempo real para tomar decisiones informadas
                    </p>
                </div>
                </div>  
            </div>
        </div>
    </div>
    
</body>