<div class="flex flex-col bg-white mt-[-100px] pt-[100px] pb-4 gap-3 justify-content:center items-center h-screen">
        <div>
            <button id='responsive-element' class="px-5 py-2 bg-[#1D70B6] rounded-3xl  font-bold text-white text-sm hover:bg-[#263261]">iniciar sesión SCORE</button>
        </div>


        <div >

                        <a id="menu-responsive-button" class="text-sm list-none cursor-pointer">soluciones</a>

                        <div id="menu-responsive-open" class="hidden pt-[20px]">

                        <div class="flex flex-col gap-5">

                            <!-- spad IoT -->

                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4" href="/Spad_IoT">
                                    <img src="/src/assets/img/icon_spadiot.svg" alt="SPAD iot icono">
                                    <p><strong class="text-[#1D70B6]">SPAD IoT</strong> <br>  Gestión del riesgo ambiental</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px]  justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad line -->
                            
                            <div class="flex justify-between gap-5 text-xs ">
                                <a class="flex items-center gap-4" href="/Spad_Line">
                                    <img src="/src/assets/img/icon_spaline.svg" alt="SPAD line icono">
                                    <p><strong class="text-[#1D70B6]">SPAD Line</strong> <br>  Reconocimiento facial y de gestos</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad Farm -->
                            
                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4">
                                    <img src="/src/assets/img/icon_spadfarm.svg" alt="SPAD farm icono">
                                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Farm</strong> <br> Tecnología enfocado al Agro  </p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad Struccture -->
                            
                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4">
                                    <img src="/src/assets/img/icon_spadstruccture.svg" alt="SPAD Struccture icono">
                                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Struccture</strong> <br> Servicios en la nube</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad home -->
                            
                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4">
                                    <img src="/src/assets/img/icon_spadhome.svg" alt="SPAD home icono">
                                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Home</strong> <br>  Asistencia en el hogar</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad Retail -->
                            
                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4">
                                    <img src="/src/assets/img/icon_spadretail.svg" alt="SPAD Retail icono">
                                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75" ><strong>SPAD Retail</strong>  <br>  Supervición de procesos</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">

                                </div>
                            </div>

                            <!-- spad Mall -->
                            
                            <div class="flex justify-between gap-5 text-xs">
                                <a class="flex items-center gap-4">
                                    <img src="/src/assets/img/icon_spadmall.svg" alt="SPAD Mall icono">
                                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong >SPAD Mall</strong> <br>  Asistencia comercial</p>
                                </a>
                                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px]  justify-center rounded-lg">
                                    <img class="h-[18px]" src="/src/assets/img/novedad.gif" alt="novedad icono">
                                </div>
                            </div>

                        </div>

                        <script>
                            const buttonres = document.querySelector('#menu-responsive-button') as Element;
                            const menuOpenres = document.querySelector('#menu-responsive-open') as Element;
                        
                            buttonres.addEventListener("click", () => {
                                menuOpenres.classList.toggle("hidden");
                            });
                        </script>

        </div></div>

        <div>
            <hr class="border-gray-800 dark:border-white">
        </div>


    <div>
        <a id='responsive-element' href="/contact" class="text-sm list-none">contacto</a>
    </div>

</div>