---
import '@fontsource/poppins';
import ModalNav from './ModalNav.astro';
import MenuDespligable from './MenuDespligable.astro';

---

<header class="fixed w-full z-40">

    <style>
        @media screen and (max-width:970px){
    #menu-button, #responsive-element {
    display: none;
        }
        #nav-responsive{
        padding: 15px;
    }

    #text-button{
        font-size: 12px;
    }

    #responsive-place{
        display: block;
    }
        }

        @media screen and (min-width:970px){
    #block-responsive-button{
        display: none;
    
    }
        }

        @media screen and (max-width:500px){
            #li-container{
                gap: 1rem;
            }

        }

        @media screen and (max-width:400px){
            #text-button{
                font-size: 10px;
            }

            #logo-scorenav{
                width: 6rem
            }
        }
    </style>

    <nav id="nav-responsive" class="flex justify-between items-center px-20 py-6 bg-white w-full" >
        <div id="li-container" class="flex justify-center items-center gap-14">
            <img id="block-responsive-button" class="w-6 cursor-pointer" src="menu-svgrepo-com.svg" alt="menu-svgrepo-com.svg">
            <a href="/"><img id="logo-scorenav" src="logo-score.svg" alt="Logo Score"></a>
            <a id="menu-button" class="text-sm list-none cursor-pointer hover:text-sblue-general active:font-bold" aria-current="page">soluciones</a>
            <a id='responsive-element' href="/contact" class="text-sm list-none  hover:text-sblue-general active:font-bold cursor-pointer">contacto</a>
        </div>
    
        <div class="flex gap-5">
            <ModalNav></ModalNav>

            <a href="https://auth.score.net.co/realms/score/protocol/openid-connect/auth?client_id=frontend-client&scope=openid%20email%20profile&response_type=code&redirect_uri=https%3A%2F%2Fscore.net.co%2Fapi%2Fauth%2Fcallback%2Fkeycloak&state=mAaFOUMy39njQ1Cjz2zmigfR-FeTPm2EAsc1gPp2MNg&code_challenge=LF24J426Kugcj87VApslPiKhhhEd_yR8XTs8nG2rAZo&code_challenge_method=S256" target="_blank" id='responsive-element' class="px-5 py-2 bg-[#1D70B6] rounded-3xl  font-bold text-white text-sm hover:bg-[#263261] ">iniciar sesión SCORE</a>
        </div>
    
    </nav>

    <div  class=" flex w-full">
        <img src="background-border-nav.png" alt="border img">
    </div>

    <div id="menu-open" class="p-10 mt-[-70px] bg-white w-full hidden">
        <p class="font-bold text-[#1D70B6] pb-6 text-xm">Soluciones</p>

        <div class="grid grid-cols-2 grid-rows-5 gap-10 ">

            <!-- spad IoT -->

            <div class="flex justify-between">
                <a class="flex text-sm items-center gap-4" href="/Spad_IoT">
                    <img src="icon_spadiot.svg" alt="SPAD iot icono">
                    <p><strong class="text-[#1D70B6]">SPAD IoT</strong>   Gestión del riesgo ambiental</p>
                </a>
                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] w-[120px] justify-center rounded-lg">
                    <img class="h-[23px]" src="novedad.gif" alt="novedad icono">
                    <p class="text-white text-xs" >Novedad</p>
                </div>
            </div>

            <!-- spad line -->
            
            <div class="flex justify-between col-start-1 row-start-2 ">
                <a class="flex text-sm items-center gap-4" href="/Spad_Line">
                    <img src="icon_spaline.svg" alt="SPAD line icono">
                    <p><strong class="text-[#1D70B6]">SPAD Line</strong>   Reconocimiento facial y de gestos</p>
                </a>
                <div class="bg-[#1D70B6] flex items-center gap-3 p-[5px] w-[120px] justify-center rounded-lg">
                    <img class="h-[23px]" src="novedad.gif" alt="novedad icono">
                    <p class="text-white text-xs" >Novedad</p>
                </div>
            </div>

            <!-- spad Farm -->
            
            <div class="flex justify-between col-start-1 row-start-3">
                <a class="flex text-sm items-center gap-4">
                    <img src="icon_spadfarm.svg" alt="SPAD farm icono">
                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Farm</strong> Tecnología enfocado al Agro  </p>
                </a>               
            </div>

            <!-- spad Struccture -->
            
            <div class="flex justify-between col-start-1 row-start-4">
                <a class="flex text-sm items-center gap-4">
                    <img src="icon_spadstruccture.svg" alt="SPAD Struccture icono">
                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Struccture</strong>  Servicios en la nube</p>
                </a>
            </div>

            <!-- spad home -->
            
            <div class="flex justify-between col-start-1 row-start-5">
                <a class="flex text-sm items-center gap-4">
                    <img src="icon_spadhome.svg" alt="SPAD home icono">
                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong>SPAD Home</strong>  Asistencia en el hogar</p>
                </a>

            </div>

            <!-- spad Retail -->
            
            <div class="flex justify-between col-start-2 row-start-1">
                <a class="flex text-sm items-center gap-4">
                    <img src="icon_spadretail.svg" alt="SPAD Retail icono">
                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75" ><strong>SPAD Retail</strong>   Supervición de procesos</p>
                </a>
  
            </div>

            <!-- spad Mall -->
            
            <div class="flex justify-between col-start-2 row-start-2">
                <a class="flex text-sm items-center gap-4">
                    <img src="icon_spadmall.svg" alt="SPAD Mall icono">
                    <p class="bg-gradient-to-r from-[#2B2B65]  to-[#35A7DF] inline-block text-transparent bg-clip-text opacity-75"><strong >SPAD Mall</strong>   Asistencia comercial</p>
                </a>

            </div>

        </div>
    </div>



    <div id="block-responsive-open" class="hidden">

        <MenuDespligable></MenuDespligable>

    </div>

    <script>
        const button = document.querySelector('#menu-button') as Element;
        const menuOpen = document.querySelector('#menu-open') as Element;

        button.addEventListener("click", () => {
            menuOpen.classList.toggle("hidden");
        });
    </script>



<script>
    const blockbuttonres = document.querySelector('#block-responsive-button') as Element;
    const blockmenuOpenres = document.querySelector('#block-responsive-open') as Element;

    blockbuttonres.addEventListener("click", () => {
        blockmenuOpenres.classList.toggle("hidden");
    });
</script>
</header>