---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource/poppins';
---

<!doctype html>
<html lang="en" transition:animate="slide">
	<head>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="icons.css">
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/score-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="loader" class="loader  w-full h-full bg-white">
			<img id="img-loader" src="/loader_score.gif" alt="Cargando..." class="w-[400px]">
		</div>

		<script>
			// src/scripts.js
			document.addEventListener("DOMContentLoaded", function() {
			const loader = document.getElementById("loader");
			const content = document.getElementById("content");

			// Verifica si los elementos existen
			if (loader) {
				console.log("Loader encontrado");
			} else {
				console.error("Loader no encontrado");
			}

			if (content) {
				console.log("Content encontrado");
			} else {
				console.error("Content no encontrado");
			}

			if (loader && content) {
				// Simula una carga con un timeout (puedes eliminar esto en producción)
				setTimeout(() => {
				console.log("Añadiendo clases 'hidden' y 'loaded'");
				loader.classList.add("hidden");
				content.classList.add("loaded");
				}, 500); // Tiempo de simulación de carga (2 segundos)
			}
			});

		</script>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		</style>
		<slot />
	</body>
</html>



